{% extends 'base.html' %}
{% load markdownify %}


{% block content %}
  <main class="meal_plan-detail">
    <div>
      <a href="{% url 'meal_plan_edit' meal_plan_detail.pk %}">Edit</a>
      <a href="{% url 'meal_plan_delete' meal_plan_detail.pk %}">Delete</a>
    </div>
    <h2>Recipes for {{ meal_plan_detail.name }} on {{ meal_plan_detail.date }}</h2>
    {% for recipe in meal_plan_detail.recipes.all %}
      <p>
        <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
      </p>
    {% endfor %}
  </main>
  {% endblock content %}