{% extends 'base.html' %}

    {% block pagination %}
    <div class="pagination">
      <span class="step-links">
        {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
      </span>
    </div>
    <div><a href="{% url 'meal_plan_new' %}">CREATE</a></div>
    {% endblock pagination %}

  {% block content %}
  <main class="meal_plan-grid">
    {% for meal_plan in meal_plans_list %}
      <div class="meal_plan-card">
        <h2 class="meal_plan-card-title">
          <a href="{% url 'meal_plan_detail' meal_plan.id %}">{{ meal_plan.name }}</a>
        </h2>
        {% for recipe in meal_plan.recipes.all %}
          <p>
            <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
          </p>
        {% endfor %}
      </div>
    {% empty %}
      <div>
        <h1>No meal plans, yet</h1>
        <p>
          Would you like to
          <a href="{% url 'meal_plan_new' %}">create</a>
          one?
        </p>
      </div>
    {% endfor %}
  </main>
  {% endblock content %}

